*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav{
  background:#fff;
  padding: 5px 20px;
  position: sticky;
  top: 0;
  overflow: hidden;
  /* background-image: url(../assets/images/background/mangobg.jpg); */
  
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color:#000;
}

a:hover{
  text-decoration: underline;
}

.menu li{
font-size: 16px;
padding: 15px 5px;
}
.menu li a{
  display: block;
}

.menu .logo {
 display: flex;

}

.logo a{
  font-size: 25px;
  padding: 10px 8px;
  color: #fff;
  
  /* transform: skew(-20deg); */
  /* border-radius: 100%; */
}



.menu .logo .logoname-1 {
  background: #FF0066;
  
}
.menu .logo .logoname-2 {
  background: #FD5E00;
}
.menu .logo .logoname-3 {
  background: #FFCA04;
  
}


.button.secondary{
  border-bottom: 1px solid #444;
}

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;
}

.toggle{
  order:1;
}

.item.button{
  order: 2;
}

.item{
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active{
  display: block;
}

.toggle{
cursor: pointer;
}

.bars{
  background: #FD5E00;
  display: inline-block;
  height: 2px;
  position: relative;
  width: 18px; 
}

.bars::before,.bars::after{
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute;
  width: 18px; 
}
.bars::before{
  top:5px;
  background: #FF0066;
}

.bars::after{
  top:-5px;
  background: #FFCA04;
}

.main .menu .toggle.show {
  /* transform: scale(1,1);
  transition: transform 500ms ease; */
  background: red;
}

@media all and (min-width:468px) {
  .menu{
    justify-content: center;
  }
  .logo{
    flex: 1;
  }
  .item.button{
    width: auto;
    order: 1;
    display: block;
  }
  .toggle{
    order: 2;
  }
  .button.secondary{
    border: 0;
  }
  .button a{
    text-decoration: none;
    padding: 7px 15px;
    background: #FF0066;
    border: 1px solid#FF0066;
    border-radius: 50em;
  }
  .button.secondary a{
    background: transparent;
  }
  .button a:hover{
    transition: all .25s;
  }
  .button:not(.secondary) a:hover{
    background: #006d6d;
    background-color: #005959;
  }
  .button.secondary{
    column-rule-width: #ddd;
  }
}


@media all and (min-width: 768px){
  .item{
    display: block;
    width: auto;
  }
  .toggle{
    display: none;
  } 
  .logo{
    order: 0;
  }
  .item{
    order: 1;
  }
  .button{
    order: 2;
  }
  .menu li{
    padding: 15px 10px;
  }
  .menu li.button{
    padding-right: 0;
  }
}






